<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ThesisGroupControl.Properties.Settings.INTROSEDBConnectionString"
            connectionString="Data Source=C:\Users\Duke\Documents\Visual Studio 2010\Projects\introse(4)\INTROSE_Thesis_Scheduling_Aid\introse\INTROSEDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>